<section class="partners">
  <div class="container">
    <div class="partners__inner">
      <h3 class="partners__title title">
        ПОЧЕМУ ПРОФЕССИОНАЛЫ ВЫБИРАЮТ THAICON
      </h3>

      <div class="partners__items">
        <div class="partners__item">
          <div class="partners__img">
            <img src="images/partner-1.png" alt="" />
          </div>

          <div class="partners__info">
            <h4 class="partners__subtitle">
              Логистика, которая экономит ваши деньги и время
            </h4>

            <p class="partners__text">
              Мы построили широкую сеть филиалов по всей стране, чтобы быть
              ближе к вам.
            </p>

            <ul class="partners__list">
              <li>
                <b>Работа в вашем часовом поясе</b>
                <span
                  >Персональный менеджер всегда на связи в рабочее время вашего
                  региона. Никаких ожиданий ответа из Москвы, если вы
                  во Владивостоке или Новосибирске.</span
                >
              </li>
              <li>
                <b>Склад в вашем городе (или по соседству)</b>
                <span
                  >Забирайте оборудование в день оплаты. Вам не нужно
                  «замораживать» деньги и ждать доставки неделями.</span
                >
              </li>
              <li>
                <b>Экономия на транспортных расходах</b>
                <span
                  >Мы берём на себя основную логистику до региональных хабов.
                  Вы забираете товар самовывозом или заказываете короткую
                  доставку по городу.</span
                >
              </li>
            </ul>

            <a href="#" class="partners__btn btn btn-dark">
              <span>Где купить</span>
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M2.66602 7.99984C2.66602 7.63165 2.96449 7.33317 3.33268 7.33317H12.666C13.0342 7.33317 13.3327 7.63165 13.3327 7.99984C13.3327 8.36803 13.0342 8.6665 12.666 8.6665H3.33268C2.96449 8.6665 2.66602 8.36803 2.66602 7.99984Z"
                  fill="white"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M7.52794 2.86177C7.78829 2.60142 8.2104 2.60142 8.47075 2.86177L13.1374 7.52843C13.3978 7.78878 13.3978 8.21089 13.1374 8.47124L8.47075 13.1379C8.2104 13.3983 7.78829 13.3983 7.52794 13.1379C7.2676 12.8776 7.2676 12.4554 7.52794 12.1951L11.7232 7.99984L7.52794 3.80458C7.2676 3.54423 7.2676 3.12212 7.52794 2.86177Z"
                  fill="white"
                />
              </svg>
            </a>
          </div>
        </div>

        <div class="partners__item partners__item--reverse">
          <div class="partners__img">
            <img src="images/partner-2.png" alt="" />
          </div>

          <div class="partners__info">
            <h4 class="partners__subtitle">
              Полная прозрачность и доступ 24/7: B2B-портал
            </h4>

            <p class="partners__text">
              Мы разработали функциональный B2B-портал для партнёров,
              где в режиме реального времени вы можете:
            </p>

            <ul class="partners__list">
              <li>
                <span>
                  Проверить информацию об актуальных остатках на складах
                </span>
              </li>
              <li>
                <span> Выгрузить индивидуальные дилерские цены </span>
              </li>
              <li>
                <span> Узнать точные сроки поставки оборудования </span>
              </li>
              <li>
                <span>
                  Оформить счёт и зарезервировать оборудование в пару кликов,
                  даже в выходные дни и ночью
                </span>
              </li>
            </ul>

            <a href="#" class="partners__btn btn btn-dark">
              <span>Зарегистрироваться</span>
            </a>
          </div>
        </div>
        <div class="partners__item">
          <div class="partners__img">
            <img src="images/partner-3.png" alt="" />
          </div>

          <div class="partners__info">
            <h4 class="partners__subtitle">
              Защита проектов и высокая доходность
            </h4>

            <p class="partners__text">Защита проектов и высокая доходность</p>

            <ul class="partners__list">
              <li>
                <b>Работа в вашем часовом поясе</b>
                <span
                  >Персональный менеджер всегда на связи в рабочее время вашего
                  региона. Никаких ожиданий ответа из Москвы, если вы
                  во Владивостоке или Новосибирске.</span
                >
              </li>
              <li>
                <b>Склад в вашем городе (или по соседству)</b>
                <span
                  >Забирайте оборудование в день оплаты. Вам не нужно
                  «замораживать» деньги и ждать доставки неделями.</span
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="partners__item partners__item--reverse">
          <div class="partners__img">
            <img src="images/partner-2.png" alt="" />
          </div>

          <div class="partners__info">
            <h4 class="partners__subtitle">
              Полная прозрачность и доступ 24/7: B2B-портал
            </h4>

            <p class="partners__text">
              Мы разработали функциональный B2B-портал для партнёров,
              где в режиме реального времени вы можете:
            </p>

            <ul class="partners__list">
              <li>
                <span>
                  Проверить информацию об актуальных остатках на складах
                </span>
              </li>
              <li>
                <span> Выгрузить индивидуальные дилерские цены </span>
              </li>
              <li>
                <span> Узнать точные сроки поставки оборудования </span>
              </li>
              <li>
                <span>
                  Оформить счёт и зарезервировать оборудование в пару кликов,
                  даже в выходные дни и ночью
                </span>
              </li>
            </ul>

            <a href="#" class="partners__btn btn btn-dark">
              <span>Зарегистрироваться</span>
            </a>
          </div>
        </div>

        <div class="partners__item">
          <div class="partners__img">
            <img src="images/partner-4.png" alt="" />
          </div>

          <div class="partners__info">
            <h4 class="partners__subtitle">Техническая поддержка</h4>

            <p class="partners__text">
              Сложный проект? Наши инженеры усилят вашу команду:
            </p>

            <ul class="partners__list">
              <li>
                <span>
                  Проверить информацию об актуальных остатках на складах
                </span>
              </li>
              <li>
                <span> Выгрузить индивидуальные дилерские цены </span>
              </li>
              <li>
                <span> Узнать точные сроки поставки оборудования </span>
              </li>
              <li>
                <span>
                  Оформить счёт и зарезервировать оборудование в пару кликов,
                  даже в выходные дни и ночью
                </span>
              </li>
            </ul>

            <div class="partners__btns">
              <a href="#" class="partners__btn btn btn-dark">
                <span>Техническая библиотека</span>
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M2.66602 7.99996C2.66602 7.63177 2.96449 7.33329 3.33268 7.33329H12.666C13.0342 7.33329 13.3327 7.63177 13.3327 7.99996C13.3327 8.36815 13.0342 8.66663 12.666 8.66663H3.33268C2.96449 8.66663 2.66602 8.36815 2.66602 7.99996Z"
                    fill="white"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M7.52794 2.86189C7.78829 2.60154 8.2104 2.60154 8.47075 2.86189L13.1374 7.52855C13.3978 7.7889 13.3978 8.21101 13.1374 8.47136L8.47075 13.138C8.2104 13.3984 7.78829 13.3984 7.52794 13.138C7.2676 12.8777 7.2676 12.4556 7.52794 12.1952L11.7232 7.99996L7.52794 3.8047C7.2676 3.54435 7.2676 3.12224 7.52794 2.86189Z"
                    fill="white"
                  />
                </svg>
              </a>

              <a href="#" class="partners__btn btn btn-light">
                <span>Оставить запрос</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
