<div class="show-block">
  <div class="container">
    <div class="show-block__inner">
      <video " autoplay muted loop playsinline >
        <source src="images/thaicon.mp4" type="video/mp4" />
      </video>
      <!-- <div class="show-block__img">
        <img src="images/show-block.png" alt="" />
      </div>

      <div class="show-block__items">
        <div class="show-block__item">
          <p>Th</p>
          <span>Technology </span>
        </div>
        <div class="show-block__item">
          <p>ai</p>
          <span>Air </span>
        </div>
        <div class="show-block__item">
          <p>con</p>
          <span>Control </span>
        </div>
      </div> -->
    </div>
  </div>
</div>
