

.tech-life {
  margin-top: 140px;

  @media only screen and (max-width: 767px) {
    margin-top: 80px;
  }


  &__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    margin-bottom: 50px;


    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
      grid-gap: 20px;
      margin-bottom: 30px;
    }
  }

  &__desc {
    font-size: 15px;
    font-weight: 500;


    @media only screen and (max-width: 767px) {
      font-size: 13px;
    }
  }


  &__ban {
    display: flex;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 50px;
    

    @media only screen and (max-width: 767px) {
      height: 320px;
    }


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;


    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
      grid-gap: 50px;
    }
  }
}