<div class="showcase">
  <div class="container">
    <div class="showcase__inner">
      <div class="showcase__btns">
        <div class="showcase__prev">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.29289 5.29289C8.68342 4.90237 9.31658 4.90237 9.70711 5.29289L15.7071 11.2929C16.0976 11.6834 16.0976 12.3166 15.7071 12.7071L9.70711 18.7071C9.31658 19.0976 8.68342 19.0976 8.29289 18.7071C7.90237 18.3166 7.90237 17.6834 8.29289 17.2929L13.5858 12L8.29289 6.70711C7.90237 6.31658 7.90237 5.68342 8.29289 5.29289Z"
              fill="white"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.29289 5.29289C8.68342 4.90237 9.31658 4.90237 9.70711 5.29289L15.7071 11.2929C16.0976 11.6834 16.0976 12.3166 15.7071 12.7071L9.70711 18.7071C9.31658 19.0976 8.68342 19.0976 8.29289 18.7071C7.90237 18.3166 7.90237 17.6834 8.29289 17.2929L13.5858 12L8.29289 6.70711C7.90237 6.31658 7.90237 5.68342 8.29289 5.29289Z"
              fill="white"
            />
          </svg>
        </div>
        <div class="showcase__next">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.29289 5.29289C8.68342 4.90237 9.31658 4.90237 9.70711 5.29289L15.7071 11.2929C16.0976 11.6834 16.0976 12.3166 15.7071 12.7071L9.70711 18.7071C9.31658 19.0976 8.68342 19.0976 8.29289 18.7071C7.90237 18.3166 7.90237 17.6834 8.29289 17.2929L13.5858 12L8.29289 6.70711C7.90237 6.31658 7.90237 5.68342 8.29289 5.29289Z"
              fill="white"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.29289 5.29289C8.68342 4.90237 9.31658 4.90237 9.70711 5.29289L15.7071 11.2929C16.0976 11.6834 16.0976 12.3166 15.7071 12.7071L9.70711 18.7071C9.31658 19.0976 8.68342 19.0976 8.29289 18.7071C7.90237 18.3166 7.90237 17.6834 8.29289 17.2929L13.5858 12L8.29289 6.70711C7.90237 6.31658 7.90237 5.68342 8.29289 5.29289Z"
              fill="white"
            />
          </svg>
        </div>
      </div>
      <div class="showcase__container swiper">
        <div class="showcase__items swiper-wrapper">
          <div
            class="showcase__item swiper-slide"
            style="background-image: url('/images/b1.png')"
          >
            <div class="showcase__icon">
              <img src="images/b-logo.png" alt="" />
            </div>

            <div class="showcase__img">
              <img src="images/img-1.png" alt="" />
            </div>

            <div class="showcase__info">
              <div class="showcase__title">Technology</div>

              <div class="showcase__text">
                <b>Технологии.</b> <br />
                Но только те, которые действительно <br />нужны и работают,
                без экспериментов.
              </div>

              <a href="#" class="showcase__btn btn btn-dark">
                <span>Подобрать кондиционер</span>
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M2.66675 7.99935C2.66675 7.63116 2.96522 7.33268 3.33341 7.33268H12.6667C13.0349 7.33268 13.3334 7.63116 13.3334 7.99935C13.3334 8.36754 13.0349 8.66602 12.6667 8.66602H3.33341C2.96522 8.66602 2.66675 8.36754 2.66675 7.99935Z"
                    fill="white"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M7.52868 2.86128C7.78903 2.60093 8.21114 2.60093 8.47149 2.86128L13.1382 7.52794C13.3985 7.78829 13.3985 8.2104 13.1382 8.47075L8.47149 13.1374C8.21114 13.3978 7.78903 13.3978 7.52868 13.1374C7.26833 12.8771 7.26833 12.455 7.52868 12.1946L11.7239 7.99935L7.52868 3.80409C7.26833 3.54374 7.26833 3.12163 7.52868 2.86128Z"
                    fill="white"
                  />
                </svg>
              </a>
            </div>
          </div>
          <div
            class="showcase__item swiper-slide"
            style="background-image: url('/images/b2.png')"
          >
            <div class="showcase__icon">
              <img src="images/b-logo.png" alt="" />
            </div>

            <div class="showcase__img">
              <img src="images/img-2.png" alt="" />
            </div>

            <div class="showcase__info">
              <div class="showcase__title">AIR.</div>

              <div class="showcase__text">
                <b> Воздух.</b> <br />
                Воздух в центре внимания THAICON. <br />
                Его качество, чистота, температура и движение.
              </div>

              <a href="#" class="showcase__btn btn btn-dark">
                <span>Подобрать кондиционер</span>
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M2.66675 7.99935C2.66675 7.63116 2.96522 7.33268 3.33341 7.33268H12.6667C13.0349 7.33268 13.3334 7.63116 13.3334 7.99935C13.3334 8.36754 13.0349 8.66602 12.6667 8.66602H3.33341C2.96522 8.66602 2.66675 8.36754 2.66675 7.99935Z"
                    fill="white"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M7.52868 2.86128C7.78903 2.60093 8.21114 2.60093 8.47149 2.86128L13.1382 7.52794C13.3985 7.78829 13.3985 8.2104 13.1382 8.47075L8.47149 13.1374C8.21114 13.3978 7.78903 13.3978 7.52868 13.1374C7.26833 12.8771 7.26833 12.455 7.52868 12.1946L11.7239 7.99935L7.52868 3.80409C7.26833 3.54374 7.26833 3.12163 7.52868 2.86128Z"
                    fill="white"
                  />
                </svg>
              </a>
            </div>
          </div>
          <div
            class="showcase__item swiper-slide"
            style="background-image: url('/images/b3.png')"
          >
            <div class="showcase__icon">
              <img src="images/b-logo.png" alt="" />
            </div>

            <div class="showcase__img">
              <img src="images/img-3.png" alt="" />
            </div>

            <div class="showcase__info">
              <div class="showcase__title">control.</div>

              <div class="showcase__text">
                <b> Контроль.</b> <br />
                Главное преимущество THAICON — <br />
                в полном контроле. Простое и интуитивное <br />
                управление климатом дома, на работе,<br />
                в коммерческих и промышленных объектах.
              </div>

              <a href="#" class="showcase__btn btn btn-dark">
                <span>Подобрать кондиционер</span>
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M2.66675 7.99935C2.66675 7.63116 2.96522 7.33268 3.33341 7.33268H12.6667C13.0349 7.33268 13.3334 7.63116 13.3334 7.99935C13.3334 8.36754 13.0349 8.66602 12.6667 8.66602H3.33341C2.96522 8.66602 2.66675 8.36754 2.66675 7.99935Z"
                    fill="white"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M7.52868 2.86128C7.78903 2.60093 8.21114 2.60093 8.47149 2.86128L13.1382 7.52794C13.3985 7.78829 13.3985 8.2104 13.1382 8.47075L8.47149 13.1374C8.21114 13.3978 7.78903 13.3978 7.52868 13.1374C7.26833 12.8771 7.26833 12.455 7.52868 12.1946L11.7239 7.99935L7.52868 3.80409C7.26833 3.54374 7.26833 3.12163 7.52868 2.86128Z"
                    fill="white"
                  />
                </svg>
              </a>
            </div>
          </div>

          <div
            class="showcase__item showcase__item--black swiper-slide"
            style="background-image: url('/images/b4.png')"
          >
            <div class="showcase__img">
              <img src="images/img-4.png" alt="" />
            </div>

            <div class="showcase__info">
              <div class="showcase__title light-blue">VRF-системы</div>

              <div class="showcase__text light-blue">
                Для кондиционирования торговых центров, отелей, крупных офисов,
                стадионов, административных и медицинских зданий, других
                объектов.
              </div>

              <a href="#" class="showcase__btn btn btn-light">
                <span>Подобрать кондиционер</span>
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M2.66675 7.99935C2.66675 7.63116 2.96522 7.33268 3.33341 7.33268H12.6667C13.0349 7.33268 13.3334 7.63116 13.3334 7.99935C13.3334 8.36754 13.0349 8.66602 12.6667 8.66602H3.33341C2.96522 8.66602 2.66675 8.36754 2.66675 7.99935Z"
                    fill="white"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M7.52868 2.86128C7.78903 2.60093 8.21114 2.60093 8.47149 2.86128L13.1382 7.52794C13.3985 7.78829 13.3985 8.2104 13.1382 8.47075L8.47149 13.1374C8.21114 13.3978 7.78903 13.3978 7.52868 13.1374C7.26833 12.8771 7.26833 12.455 7.52868 12.1946L11.7239 7.99935L7.52868 3.80409C7.26833 3.54374 7.26833 3.12163 7.52868 2.86128Z"
                    fill="white"
                  />
                </svg>
              </a>
            </div>
          </div>

          <div
            class="showcase__item swiper-slide"
            style="background-image: url('/images/b5.png')"
          >
            <div class="showcase__icon">
              <img src="images/b-logo-dark.png" alt="" />
            </div>

            <div class="showcase__img">
              <img src="images/img-5.png" alt="" />
            </div>

            <div class="showcase__info">
              <div class="showcase__title">VRF-системы</div>

              <div class="showcase__text">
                Для кондиционирования торговых центров, отелей, крупных офисов,
                стадионов, административных и медицинских зданий, других
                объектов.
              </div>

              <a href="#" class="showcase__btn btn btn-dark">
                <span>Подобрать кондиционер</span>
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M2.66675 7.99935C2.66675 7.63116 2.96522 7.33268 3.33341 7.33268H12.6667C13.0349 7.33268 13.3334 7.63116 13.3334 7.99935C13.3334 8.36754 13.0349 8.66602 12.6667 8.66602H3.33341C2.96522 8.66602 2.66675 8.36754 2.66675 7.99935Z"
                    fill="white"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M7.52868 2.86128C7.78903 2.60093 8.21114 2.60093 8.47149 2.86128L13.1382 7.52794C13.3985 7.78829 13.3985 8.2104 13.1382 8.47075L8.47149 13.1374C8.21114 13.3978 7.78903 13.3978 7.52868 13.1374C7.26833 12.8771 7.26833 12.455 7.52868 12.1946L11.7239 7.99935L7.52868 3.80409C7.26833 3.54374 7.26833 3.12163 7.52868 2.86128Z"
                    fill="white"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>
