.modal {
  width: 100%;
  height: 100%;
  display: none;
  padding: 0;
  background: transparent;

  &-thanks {
    background: transparent;

    .fancybox-button {
      display: none;
    }
  }

  .fancybox-button {
    display: none;
  }

  &-detal {
    .modal__inner {
      background: transparent;
      max-width: 1360px;
      width: 100%;
      padding: 0;

      @media only screen and (max-width: 767px) {
        position: relative;
        top: 0;
        transform: translate(0);
        left: 0;
        padding: 84px 20px 20px;
      }

      .feedback {
        width: 100%;
      }

      .feedback__inner {
        width: 100%;
      }

      .form-content {
        max-width: 1090px;
      }

      .form-content__title {
        margin-bottom: 50px;

        @media only screen and (max-width: 767px) {
          margin-bottom: 30px;
        }
      }
    }
  }

  &__close {
    position: absolute;
    right: 40px;
    top: 40px;
    cursor: pointer;
    z-index: 10;

    @media only screen and (max-width: 991px) {
      right: 20px;
      width: 24px;
      height: 24px;
      
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__inner {
    width: 100%;
    max-width: 1000px;
    background: #fff;
    margin: 0 auto;
    border-radius: 50px;
    position: fixed;

    min-height: 448px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-left: 70px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    @media only screen and (max-width: 991px) {
      padding-top: 507px;
      padding-bottom: 57px;
      padding-left: 40px;
      overflow: hidden;

      width: calc(100% - 40px);
    }

    @media only screen and (max-width: 767px) {
      padding: 378px 30px 20px;
      border-radius: 20px;
    }
  }

  &__img {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 991px) {
      height: 519px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    @media only screen and (max-width: 767px) {
      height: 302px;
      top: -20px;
      right: -10%;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;

    @media only screen and (max-width: 767px) {
      font-size: 19px;
      line-height: 147%;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 15px;
    margin-top: 20px;

    @media only screen and (max-width: 767px) {
      font-size: 13px;
    }
  }
}
