<div class="sup-tech">
  <div class="container">
    <div class="sup-tech__inner">
      <div class="sup-tech__img">
        <img src="images/sup-tech-img.png" alt="" />
      </div>

      <div class="sup-tech__info">
        <h1 class="sup-tech__title title">Техническая поддержка</h1>

        <div class="sup-tech__text">
          Инженерно-техническая служба предоставляет полную техподдержку
          партнёрам и пользователям: консультации по проектированию, тендерным
          КП, монтажу и сервесному обслуживанию оборудования.
        </div>

        <a href="#" class="sup-tech__btn btn btn-dark">получить консультацию</a>
      </div>
    </div>
  </div>
</div>
