<section class="cat-home">
  <div class="container">
    <div class="cat-home__inner">
      <h3 class="cat-home__title title">
        Каталог климатического <br />
        оборудования Thaicon
      </h3>

      <div class="cat-home__items">
        <div class="cat-home__item">
          <div class="cat-home__img">
            <img src="images/home-1.png" alt="" />
          </div>

          <div class="cat-home__info">
            <div class="cat-home__icon">
              <img src="images/h1.png" alt="" />
            </div>
            <div class="cat-home__text">
              Оборудование для дома и небольших коммерческих объектов
            </div>

            <div class="cat-home__systems">
              <a href="#">Бытовые сплит-системы</a>
              <a href="#">мультисплит-системы</a>
              <a href="#">Бытовые сплит-системы</a>
            </div>

            <a href="#" class="cat-home__btn btn btn-dark">
              <span>Подробнее</span>

              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M2.66797 8.00008C2.66797 7.63189 2.96645 7.33342 3.33464 7.33342H12.668C13.0362 7.33342 13.3346 7.63189 13.3346 8.00008C13.3346 8.36827 13.0362 8.66675 12.668 8.66675H3.33464C2.96645 8.66675 2.66797 8.36827 2.66797 8.00008Z"
                  fill="white"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M7.5299 2.86201C7.79025 2.60166 8.21236 2.60166 8.47271 2.86201L13.1394 7.52868C13.3997 7.78903 13.3997 8.21114 13.1394 8.47149L8.47271 13.1382C8.21236 13.3985 7.79025 13.3985 7.5299 13.1382C7.26955 12.8778 7.26955 12.4557 7.5299 12.1953L11.7252 8.00008L7.5299 3.80482C7.26955 3.54447 7.26955 3.12236 7.5299 2.86201Z"
                  fill="white"
                />
              </svg>
            </a>
          </div>
        </div>
          <div class="cat-home__item black">
          <div class="cat-home__img">
            <img src="images/home-2.png" alt="" />
          </div>

          <div class="cat-home__info">
            <div class="cat-home__icon">
              <img src="images/h2.png" alt="" />
            </div>
            <div class="cat-home__text">
             Оборудование для больших загородных домов, офисов,бизнес-центров, гостиниц и административных зданий
            </div>

            <div class="cat-home__systems">
              <a href="#">Бытовые сплит-системы</a>
            </div>

            <a href="#" class="cat-home__btn btn btn-dark">
              <span>Подробнее</span>

              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M2.66797 8.00008C2.66797 7.63189 2.96645 7.33342 3.33464 7.33342H12.668C13.0362 7.33342 13.3346 7.63189 13.3346 8.00008C13.3346 8.36827 13.0362 8.66675 12.668 8.66675H3.33464C2.96645 8.66675 2.66797 8.36827 2.66797 8.00008Z"
                  fill="white"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M7.5299 2.86201C7.79025 2.60166 8.21236 2.60166 8.47271 2.86201L13.1394 7.52868C13.3997 7.78903 13.3997 8.21114 13.1394 8.47149L8.47271 13.1382C8.21236 13.3985 7.79025 13.3985 7.5299 13.1382C7.26955 12.8778 7.26955 12.4557 7.5299 12.1953L11.7252 8.00008L7.5299 3.80482C7.26955 3.54447 7.26955 3.12236 7.5299 2.86201Z"
                  fill="white"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
