<div class="serv-gar">
  <div class="container">
    <div class="serv-gar__inner">
      <h3 class="serv-gar__title title">Если нужен гарантийный ремонт</h3>

      <div class="serv-gar__items">
        <div class="serv-gar__item">
          <div class="serv-gar__img">
            <img src="images/serv-gar1.png" alt="" />
          </div>

          <div class="serv-gar__info">
            <div class="serv-gar__name">Покупатель</div>
            <div class="serv-gar__text">
              Для гарантийного ремонта обратитесь в компанию, продавшую
              оборудование и осуществившую монтаж. Или заполните форму на нашем
              сайте.
            </div>

            <div class="serv-gar__btns">
              <a href="#" class="serv-gar__btn btn btn-dark">Выбрать АСЦ</a>
              <a href="#" class="serv-gar__btn btn btn-light"
                >Оставить заявку</a
              >
            </div>
          </div>
        </div>
        <div class="serv-gar__item">
          <div class="serv-gar__img">
            <img src="images/serv-gar2.png" alt="" />
          </div>

          <div class="serv-gar__info">
            <div class="serv-gar__name">Партнёр</div>
            <div class="serv-gar__text">
              При возникновении гарантийного случая вам необходимо обратиться
              к вашему менеджеру. Или заполните форму на нашем сайте.
            </div>

            <div class="serv-gar__btns">
              <a href="#" class="serv-gar__btn btn btn-dark">Оставить заявку</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
