

.detal-doc {
  margin-top: 140px;

  @media only screen and (max-width: 991px) {
    margin-top: 80px;
  }


  &__title {
    margin-bottom: 50px;

    
    @media only screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }



  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    .library__item {
      margin-bottom: 0;
    }


    @media only screen and (max-width: 991px) {
      grid-template-columns: 1fr;
    }
  }
}