@use '../../../style/scss/variables.scss' as *;

.feedback {
  margin-top: 140px;

  @media only screen and (max-width: 767px) {
    margin-top: 80px;
  }


  &__inner {
    background: linear-gradient(225deg, #7ea5ba 0%, #d5e3eb 100%);
    padding: 60px 70px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;

    @media only screen and (max-width: 991px) {
      padding: 40px;
    }

    @media only screen and (max-width: 767px) {
      padding: 20px;
      border-radius: 20px;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;

    @media only screen and (max-width: 991px) {
      height: 323px;
      top: -20%;
    }

    @media only screen and (max-width: 767px) {
      top: 33%;
      right: -20%;
      height: 197px;
    }
  }

  .form-content {
    position: relative;
    z-index: 1;

    &__title {
      margin-bottom: 20px;
    }

    &__text {
      margin-bottom: 50px;

      @media only screen and (max-width: 991px) {
        margin-bottom: 40px;
      }

      ul {
        li {
          padding-left: 16px;
          font-weight: 500;
          font-size: 15px;
          margin-bottom: 10px;
          position: relative;

          @media only screen and (max-width: 767px) {
            font-size: 13px;
          }

          &:before {
            content: '';
            display: block;
            position: absolute;
            width: 8px;
            height: 8px;
            background: $blue;
            left: 0;
            top: 5px;
            border-radius: 2px;
          }
        }
      }
    }

    &__info {
      max-width: 1090px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;

      @media only screen and (max-width: 991px) {
        grid-template-columns: 1fr 1fr;
      }

      @media only screen and (max-width: 767px) {
        grid-template-columns: 1fr;
      }
    }

    &__label {
      margin-bottom: 20px;
      font-size: 12px;
      font-weight: 500;
    }

    &__radios {
      display: flex;
      align-items: center;
      gap: 50px;
      margin-bottom: 30px;

      @media only screen and (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

        .radio__text {
          font-size: 13px;
        }
      }
    }

    &__bot {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 1090px;
      grid-gap: 20px;
      margin-top: 30px;

      @media only screen and (max-width: 991px) {
        grid-template-columns: 1fr 1fr;
      }

      @media only screen and (max-width: 767px) {
        grid-template-columns: 1fr;
      }

      .checkbox {
        @media only screen and (max-width: 767px) {
          align-items: center;
        }
      }

      .checkbox__text {
        font-size: 12px;
        font-weight: 500;

        a {
          text-decoration: underline;
          font-weight: 700;
        }
      }
    }

    &__btn {
      width: 162px;

      margin-top: 20px;

      @media only screen and (max-width: 767px) {
        width: 100%;
      }
    }
  }

  &-contacts {
    &__left {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }

    .form-content__title {
      margin-bottom: 50px;

      @media only screen and (max-width: 991px) {
        margin-bottom: 30px;
      }
    }

    .form-content__info {
      grid-template-columns: 350px 1fr;
      grid-gap: 20px;

      .field--textarea {
        height: 100%;

        @media only screen and (max-width: 767px) {
          height: 170px;
        }

        .field__label {
          top: 25px;
          &.top {
            top: 10px;
          }
        }

        textarea:focus ~ .field__label {
          top: 10px;
        }

        textarea {
          height: 100%;
          padding-top: 25px;
        }
      }
    }
  }

  &-support {
    margin-top: 140px;

    @media only screen and (max-width: 767px) {
      margin-top: 80px;
    }

    .feedback {
      &-contacts {
        &__left {
          display: grid;
          grid-template-columns: 1fr 1fr;

          @media only screen and (max-width: 767px) {
            grid-template-columns: 1fr;
          }

          .field__label {
            top: 25px;
            &.top {
              top: 10px;
            }
          }

          textarea:focus ~ .field__label {
            top: 10px;
          }

          textarea {
            height: 100%;
            padding-top: 25px;
          }

          .field--textarea {
            grid-column: span 2;
            height: 100%;

            @media only screen and (max-width: 767px) {
              grid-column: span 1;
            }
            textarea {
              height: 86px;
            }
          }
        }
      }
    }

    .form-content__info {
      display: grid;
      grid-template-columns: 2fr 1fr;

      @media only screen and (max-width: 991px) {
        grid-template-columns: 1fr;
      }
    }

    .form-content__title {
      margin-bottom: 50px;

      max-width: 750px;

      @media only screen and (max-width: 767px) {
        margin-bottom: 30px;
        max-width: 70%;
      }
    }
  }



  &-news {

    .feedback {
      &__img {
        bottom: 0;
      }
    }

    .form-content {

      &__title {
        margin-bottom: 50px;
      }
      &__top {
        max-width: 940px;
        display: grid;
        grid-template-columns: 1fr 312px;
        grid-gap: 20px;

        @media only screen and (max-width: 991px) {
          grid-template-columns: 1fr 1fr;
        }


        @media only screen and (max-width: 767px) {
          grid-template-columns: 1fr;
          grid-gap: 30px;

          .checkbox {

            align-items: center;
          }
        }

        &--info {
          .field {
            margin-bottom: 20px;

            @media only screen and (max-width: 767px) {
              margin-bottom: 30px;
            }
          }
        }
      }



      &__btn {
        width: 100%;
        margin-top: 0;
        margin-bottom: 20px;
      }
    }
  }
}
