<div class="feedback feedback-news">
  <div class="container">
    <div class="feedback__inner">
      <div class="feedback__img">
        <img src="images/feedback.png" alt="" />
      </div>
      <form action="#">
        <div class="form-content">
          <h3 class="form-content__title title">
            Узнавайте первыми о новинках и спецпредложениях
          </h3>

          <div class="form-content__top">
            <div class="form-content__top--info">
              <label class="field">
                <input type="text" />
                <span class="field__label">Email*</span>
              </label>

              <div class="captcha captcha-right field--error">
                <img src="images/captcha.png" alt="" />
              </div>
            </div>

            <div class="form-content__foot">
              <a
                href="#thanks"
                data-fancybox
                class="form-content__btn btn btn-dark"
              >
               подписаться
              </a>
              <label class="checkbox">
                <span class="checkbox__inner">
                  <input type="checkbox" checked />
                  <span></span>
                </span>
                <span class="checkbox__text"
                  >Нажимая кнопку, я принимаю
                  <a href="#">условия соглашения</a>
                </span>
              </label>

            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
