<div class="feedback">
  <div class="container">
    <div class="feedback__inner">

      <div class="feedback__img">
        <img src="images/feedback.png" alt="">
      </div>
      <form action="#">
        <div class="form-content">
          <h3 class="form-content__title title">
            Начать сотрудничество <br> с брендом THAICON
          </h3>
          <div class="form-content__text">
            <ul>
              <li>Предложим индивидуальные условия и скидки</li>

              <li>Подберем оборудование под объект</li>
            </ul>
          </div>
          <div class="form-content__top">
            <div class="form-content__label">Выбор страны*</div>
            <div class="form-content__radios" data-field="COUNTRY">
              <label class="radio">
                <span class="radio__inner">
                  <input
                    type="radio"
                    data-country
                    data-resident="true"
                    name="choose"
                  />
                  <span></span>
                </span>
                <span class="radio__text">Резидент РФ</span>
              </label>
              <label class="radio">
                <span class="radio__inner">
                  <input
                    type="radio"
                    name="choose"
                    data-resident="false"
                    data-country
                  />
                  <span></span>
                </span>
                <span class="radio__text">Не резидент РФ</span>
              </label>
            </div>

            <div class="form-content__info">
              <label class="field field-select" data-field="REGION">
                <select class="select2">
                  <option value="" disabled selected hidden>Регион*</option>
                  <option value="AL">Белгородская область</option>
                  <option value="AL">Брянская область</option>
                  <option value="AL">Белгородская область</option>
                  <option value="AL">Брянская область</option>
                  <option value="AL">Белгородская область</option>
                  <option value="AL">Брянская область</option>
                  <option value="AL">Белгородская область</option>
                  <option value="AL">Брянская область</option>
                  <option value="AL">Белгородская область</option>
                  <option value="AL">Брянская область</option>
                  <option value="AL">Белгородская область</option>
                  <option value="AL">Брянская область</option>
                  <option value="AL">Белгородская область</option>
                  <option value="AL">Брянская область</option>
                  <option value="AL">Белгородская область</option>
                  <option value="AL">Брянская область</option>
                  <option value="AL">Белгородская область</option>
                  <option value="AL">Брянская область</option>
                  <option value="AL">Белгородская область</option>
                  <option value="AL">Брянская область</option>
                  <option value="AL">Белгородская область</option>
                  <option value="AL">Брянская область</option>
                </select>


                <div class="field-error-text">
                  Обязательное поле*
                </div>
              </label>

              <label class="field field--error">
                <input type="text" />
                <span class="field__label">Название компании*</span>

                 <div class="field-error-text">
                  Обязательное поле*
                </div>
              </label>
              <label class="field">
                <input type="number" />
                <span class="field__label">ИНН*</span>
              </label>
              <label class="field">
                <input type="text" />
                <span class="field__label">ФИО*</span>
              </label>
              <label class="field">
                <input type="text" />
                <span class="field__label">Email*</span>
              </label>
              <div class="form-group">
                <input
                  id="phone"
                  type="tel"
                  name="leyka_donor_phone"
                  class="form-control tel"
                  inputmode="tel"
                  value=""
                />
              </div>
            </div>

            <div class="form-content__bot">
              <div class="captcha captcha-right">
                <img src="images/captcha.png" alt="" />
              </div>
              <div class="form-content__foot">
                <label class="checkbox">
                  <span class="checkbox__inner">
                    <input type="checkbox" checked />
                    <span></span>
                  </span>
                  <span class="checkbox__text"
                    >Нажимая кнопку, я принимаю
                    <a href="#">условия соглашения</a>
                  </span>
                </label>

                <a
                  href="#thanks"
                  data-fancybox
                  class="form-content__btn btn btn-dark"
                >
                  Отправить
                </a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
