<div class="garant-sup">
  <div class="container">
    <div class="garant-sup__inner">
      <h3 class="garant-sup__title title">
        Гарантийный срок на сплит-системы бытового назначения торговой марки
        THAICON:
      </h3>

      <div class="garant-sup__label">Установленные гарантийные сроки:</div>

      <ul class="garant-sup__list garant-sup__list--dash">
        <li>
          инверторные сплит-системы серии SensAir – 5 (пять) лет с даты покупки;
        </li>
        <li>
          инверторные сплит-системы серии Phantom, Comfort Plus - 4 (четыре)
          года с даты покупки;
        </li>
        <li>
          инверторные сплит-системы серии Balance inverter – 3 (три) года с даты
          покупки;
        </li>
        <li>
          сплит-системы постоянной производительности серии Comfort Plus on/off,
          Balance on/off – 3 (три) года с момента покупки.
        </li>
      </ul>

      <p>
        Гарантийные сроки на мультисплит-системы – 3 (три) года с даты покупки.
      </p>
      <p>
        Гарантийные сроки на полупромышленные системы кондиционирования - 3
        (три) года с даты покупки.
      </p>
      <p>
        Гарантийные обязательства купленного Вами оборудования осуществляются
        через уполномоченного дилера, выполняющего его продажу и установку.
        Настоящая гарантия выдана на оборудование и действует с момента его
        продажи в течение гарантийного срока, указанного в настоящем гарантийном
        талоне. Настоящая гарантия не дает права на бесплатный ремонт вышедшего
        из строя оборудования, замену дефектных частей, если:
      </p>

      <ul class="garant-sup__list garant-sup__list--disc">
        <li>
          серийный номер проданного оборудования, указанный в настоящем
          гарантийном талоне, не соответствует номеру, указанному на
          предоставляемом в ремонт оборудовании;
        </li>
        <li>
          нарушена целостность пломб, установленных на корпусе оборудования;
          покупателем или третьими лицами были нарушены требования правил
          транспортировки, хранения, монтажа и пусконаладки оборудования;
        </li>
        <li>
          осуществление монтажа, ремонта, профилактического технического
          обслуживания проведено неуполномоченным лицом;
        </li>
        <li>
          оборудование эксплуатировалось с нарушением установленных в
          «Руководстве по эксплуатации» требований;
        </li>
        <li>
          оборудование вышло из строя по вине покупателя или третьих лиц
          (механические повреждения, воздействия химических веществ,
          самостоятельный ремонт, некачественное или неисправное электропитание
          и т.п.);
        </li>
        <li>
          оборудование вышло из строя вследствие пожаров, затоплений,
          воздействия насекомых и других стихийных бедствий;
        </li>
        <li>
          истек срок действия гарантии, установленный в настоящем гарантийном
          талоне;
        </li>
        <li>
          объединение оборудования THAICON с оборудованием других торговых марок
          в один контур хладагента;
        </li>
        <li>
          при использовании бытовых сплит- и мультисплит-систем, мобильных
          кондиционеров, полупромышленных сплит-систем, мультизональных систем
          кондиционирования не для целей комфортного кондиционирования
          (промышленное использование);
        </li>
        <li>
          оборудование эксплуатировалось без периодического технического
          обслуживания.
        </li>
      </ul>

      <p>
        Напоминаем, что для обеспечения длительной и качественной работы
        оборудования ему необходимо минимальное ежемесячное обслуживание
        согласно «Руководству по эксплуатации» и периодическое профилактическое
        обслуживание.
      </p>
      <p>
        Профилактическое обслуживание (чистка фильтров и пр.) проводится
        согласно «Руководству по эксплуатации» и осуществляется непосредственно
        покупателем оборудования.
      </p>
      <p>
        Периодическое техническое обслуживание необходимо проводить не реже
        одного раза в год. Оборудование, вышедшее из строя по причине дефектов,
        связанных с не проведением техобслуживания в течение гарантийного срока
        (засорение теплообменников, дренажа и т.д.), не подлежит бесплатному
        гарантийному ремонту.
      </p>
      <p>
        Периодическое техническое обслуживание осуществляется организацией,
        установившей оборудование, или другой уполномоченной организацией.
        Стоимость технического обслуживания определяется данной организацией.
        Потребуйте отметку в гарантийном талоне о проведении профилактического
        технического обслуживания оборудования.
      </p>
    </div>

    <div class="garant-sup__inner">
      <h3 class="garant-sup__title title">
        Гарантийный срок на сплит-системы бытового назначения торговой марки
        THAICON:
      </h3>

      <div class="garant-sup__label">
        Гарантийные условия для VRF-систем THAICON
      </div>

      <ol class="garant-sup__list garant-sup__list--ordered">
        <li>
          Срок гарантии на мультизональные системы составляет 40 месяцев с даты
          покупки.
        </li>
        <li>
          Срок гарантии на системы управления составляет 12 месяцев с даты
          покупки.
        </li>
        <li>
          При вводе оборудования в эксплуатацию необходимо заполнить лист
          запуска на VRF-системы THAICON и отправить его на адрес электронной
          почты
          <a
            href="mailto:tech.support@jac-company.com"
            target="_blank"
            rel="noopener noreferrer"
            >tech.support@jac-company.com</a
          >
          в течение 2 (двух) рабочих дней с момента выполнения пусконаладочных
          работ.
        </li>
      </ol>
    </div>

    <div class="garant-list">
      <div class="garant-list__item">
        <div class="garant-list__label title">Гарантийный талон</div>

        <div class="garant-list__info">
          <div class="library__item">
            <div class="library__item--content">
              <div class="library__item--img">
                <img
                  src="/local/templates/thaicon-climate/images/icons/pdf.svg"
                  alt="Каталог бытовые, полупромышленные и мульти-сплит системы THAICON"
                />
              </div>

              <div class="library__item--text">
                <p>
                  Каталог бытовые, полупромышленные и мульти-сплит системы
                  THAICON
                </p>
                <span>PDF (7 мб)</span>
              </div>
            </div>

            <a
              class="library__item--arrow"
              href="/support/technical/library/download/57/"
              target="_blank"
              rel="nofollow noopener"
              title="Каталог бытовые, полупромышленные и мульти-сплит системы THAICON"
            >
              <svg
                width="36"
                height="36"
                viewBox="0 0 36 36"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M4.5 21C5.32843 21 6 21.6716 6 22.5V28.5C6 28.8978 6.15804 29.2794 6.43934 29.5607C6.72064 29.842 7.10218 30 7.5 30H28.5C28.8978 30 29.2794 29.842 29.5607 29.5607C29.842 29.2794 30 28.8978 30 28.5V22.5C30 21.6716 30.6716 21 31.5 21C32.3284 21 33 21.6716 33 22.5V28.5C33 29.6935 32.5259 30.8381 31.682 31.682C30.8381 32.5259 29.6935 33 28.5 33H7.5C6.30653 33 5.16193 32.5259 4.31802 31.682C3.47411 30.8381 3 29.6935 3 28.5V22.5C3 21.6716 3.67157 21 4.5 21Z"
                  fill="#1D272E"
                ></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M9.43934 13.9393C10.0251 13.3536 10.9749 13.3536 11.5607 13.9393L18 20.3787L24.4393 13.9393C25.0251 13.3536 25.9749 13.3536 26.5607 13.9393C27.1464 14.5251 27.1464 15.4749 26.5607 16.0607L19.0607 23.5607C18.4749 24.1464 17.5251 24.1464 16.9393 23.5607L9.43934 16.0607C8.85355 15.4749 8.85355 14.5251 9.43934 13.9393Z"
                  fill="#1D272E"
                ></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M18 3C18.8284 3 19.5 3.67157 19.5 4.5V22.5C19.5 23.3284 18.8284 24 18 24C17.1716 24 16.5 23.3284 16.5 22.5V4.5C16.5 3.67157 17.1716 3 18 3Z"
                  fill="#1D272E"
                ></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="garant-list__item">
        <div class="garant-list__label title">Лист запуска</div>

        <div class="garant-list__info">
          <div class="library__item">
            <div class="library__item--content">
              <div class="library__item--img">
                <img
                  src="/local/templates/thaicon-climate/images/icons/default.svg"
                  alt="Мульти сплит-системы"
                />
              </div>

              <div class="library__item--text">
                <p>Мульти сплит-системы</p>
                <span>ZIP (101 мб)</span>
              </div>
            </div>

            <a
              class="library__item--arrow"
              href="/support/technical/library/download/59/"
              target="_blank"
              rel="nofollow noopener"
              title="Мульти сплит-системы"
            >
              <svg
                width="36"
                height="36"
                viewBox="0 0 36 36"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M4.5 21C5.32843 21 6 21.6716 6 22.5V28.5C6 28.8978 6.15804 29.2794 6.43934 29.5607C6.72064 29.842 7.10218 30 7.5 30H28.5C28.8978 30 29.2794 29.842 29.5607 29.5607C29.842 29.2794 30 28.8978 30 28.5V22.5C30 21.6716 30.6716 21 31.5 21C32.3284 21 33 21.6716 33 22.5V28.5C33 29.6935 32.5259 30.8381 31.682 31.682C30.8381 32.5259 29.6935 33 28.5 33H7.5C6.30653 33 5.16193 32.5259 4.31802 31.682C3.47411 30.8381 3 29.6935 3 28.5V22.5C3 21.6716 3.67157 21 4.5 21Z"
                  fill="#1D272E"
                ></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M9.43934 13.9393C10.0251 13.3536 10.9749 13.3536 11.5607 13.9393L18 20.3787L24.4393 13.9393C25.0251 13.3536 25.9749 13.3536 26.5607 13.9393C27.1464 14.5251 27.1464 15.4749 26.5607 16.0607L19.0607 23.5607C18.4749 24.1464 17.5251 24.1464 16.9393 23.5607L9.43934 16.0607C8.85355 15.4749 8.85355 14.5251 9.43934 13.9393Z"
                  fill="#1D272E"
                ></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M18 3C18.8284 3 19.5 3.67157 19.5 4.5V22.5C19.5 23.3284 18.8284 24 18 24C17.1716 24 16.5 23.3284 16.5 22.5V4.5C16.5 3.67157 17.1716 3 18 3Z"
                  fill="#1D272E"
                ></path>
              </svg>
            </a>
          </div>
          <div class="library__item">
            <div class="library__item--content">
              <div class="library__item--img">
                <img
                  src="/local/templates/thaicon-climate/images/icons/default.svg"
                  alt="Полупромышленные сплит-системы"
                />
              </div>

              <div class="library__item--text">
                <p>Полупромышленные сплит-системы</p>
                <span>ZIP (90 мб)</span>
              </div>
            </div>

            <a
              class="library__item--arrow"
              href="/support/technical/library/download/60/"
              target="_blank"
              rel="nofollow noopener"
              title="Полупромышленные сплит-системы"
            >
              <svg
                width="36"
                height="36"
                viewBox="0 0 36 36"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M4.5 21C5.32843 21 6 21.6716 6 22.5V28.5C6 28.8978 6.15804 29.2794 6.43934 29.5607C6.72064 29.842 7.10218 30 7.5 30H28.5C28.8978 30 29.2794 29.842 29.5607 29.5607C29.842 29.2794 30 28.8978 30 28.5V22.5C30 21.6716 30.6716 21 31.5 21C32.3284 21 33 21.6716 33 22.5V28.5C33 29.6935 32.5259 30.8381 31.682 31.682C30.8381 32.5259 29.6935 33 28.5 33H7.5C6.30653 33 5.16193 32.5259 4.31802 31.682C3.47411 30.8381 3 29.6935 3 28.5V22.5C3 21.6716 3.67157 21 4.5 21Z"
                  fill="#1D272E"
                ></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M9.43934 13.9393C10.0251 13.3536 10.9749 13.3536 11.5607 13.9393L18 20.3787L24.4393 13.9393C25.0251 13.3536 25.9749 13.3536 26.5607 13.9393C27.1464 14.5251 27.1464 15.4749 26.5607 16.0607L19.0607 23.5607C18.4749 24.1464 17.5251 24.1464 16.9393 23.5607L9.43934 16.0607C8.85355 15.4749 8.85355 14.5251 9.43934 13.9393Z"
                  fill="#1D272E"
                ></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M18 3C18.8284 3 19.5 3.67157 19.5 4.5V22.5C19.5 23.3284 18.8284 24 18 24C17.1716 24 16.5 23.3284 16.5 22.5V4.5C16.5 3.67157 17.1716 3 18 3Z"
                  fill="#1D272E"
                ></path>
              </svg>
            </a>
          </div>
          <div class="library__item">
            <div class="library__item--content">
              <div class="library__item--img">
                <img
                  src="/local/templates/thaicon-climate/images/icons/pdf.svg"
                  alt="Инструкция по эксплуатации и монтажу внутренних блоков кассетного типа VRF THAICON серии MULTI PRIME"
                />
              </div>

              <div class="library__item--text">
                <p>
                  Инструкция по эксплуатации и монтажу внутренних блоков
                  кассетного типа VRF THAICON серии MULTI PRIME
                </p>
                <span>PDF (3 мб)</span>
              </div>
            </div>

            <a
              class="library__item--arrow"
              href="/support/technical/library/download/47/"
              target="_blank"
              rel="nofollow noopener"
              title="Инструкция по эксплуатации и монтажу внутренних блоков кассетного типа VRF THAICON серии MULTI PRIME"
            >
              <svg
                width="36"
                height="36"
                viewBox="0 0 36 36"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M4.5 21C5.32843 21 6 21.6716 6 22.5V28.5C6 28.8978 6.15804 29.2794 6.43934 29.5607C6.72064 29.842 7.10218 30 7.5 30H28.5C28.8978 30 29.2794 29.842 29.5607 29.5607C29.842 29.2794 30 28.8978 30 28.5V22.5C30 21.6716 30.6716 21 31.5 21C32.3284 21 33 21.6716 33 22.5V28.5C33 29.6935 32.5259 30.8381 31.682 31.682C30.8381 32.5259 29.6935 33 28.5 33H7.5C6.30653 33 5.16193 32.5259 4.31802 31.682C3.47411 30.8381 3 29.6935 3 28.5V22.5C3 21.6716 3.67157 21 4.5 21Z"
                  fill="#1D272E"
                ></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M9.43934 13.9393C10.0251 13.3536 10.9749 13.3536 11.5607 13.9393L18 20.3787L24.4393 13.9393C25.0251 13.3536 25.9749 13.3536 26.5607 13.9393C27.1464 14.5251 27.1464 15.4749 26.5607 16.0607L19.0607 23.5607C18.4749 24.1464 17.5251 24.1464 16.9393 23.5607L9.43934 16.0607C8.85355 15.4749 8.85355 14.5251 9.43934 13.9393Z"
                  fill="#1D272E"
                ></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M18 3C18.8284 3 19.5 3.67157 19.5 4.5V22.5C19.5 23.3284 18.8284 24 18 24C17.1716 24 16.5 23.3284 16.5 22.5V4.5C16.5 3.67157 17.1716 3 18 3Z"
                  fill="#1D272E"
                ></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="garant-sup__inner">
      <h3 class="garant-sup__title title">
        Обязательное регламентное сервисное обслуживание
      </h3>

      <p>
        Гарантийный срок на мультизональные системы действителен при условии
        проведения обязательного регламентного сервисного обслуживания.
        Обязательное регламентное сервисное обслуживание мультизональных систем
        проводится каждые 12 месяцев, начиная с момента передачи оборудования
        Покупателю.
      </p>
      <p>
        С целью проведения регламентного сервисного обслуживания Покупатель
        обращается к продавцу (при наличии у него авторизации на сервисное
        обслуживание) или в АСЦ (информация предоставляется по запросу). О
        прохождении обязательного регламентного сервисного обслуживания
        свидетельствует акт выполненных работ АСЦ.
      </p>
      <p>
        При отсутствии акта выполненных работ по регламентному сервисному
        обслуживанию или при проведении регламентного сервисного обслуживания не
        АСЦ Поставщика Поставщик вправе отказать Покупателю в предоставлении
        гарантийного обслуживания.
      </p>
    </div>

    <div class="garant-sup__inner">
      <h3 class="garant-sup__title title">
        Гарантия не распространяется в случае, если:
      </h3>

      <ul class="garant-sup__list garant-sup__list--disc">
        <li>
          серийный номер проданного оборудования, указанный в настоящем
          гарантийном талоне, не соответствует номеру, указанному на
          предоставляемом в ремонт оборудовании;
        </li>
        <li>
          покупателем или третьими лицами были нарушены требования правил
          транспортировки, хранения, монтажа и пусконаладки оборудования;
        </li>
        <li>
          осуществление монтажа, ремонта, профилактического технического
          обслуживания проведено неуполномоченным лицом;
        </li>
        <li>
          оборудование эксплуатировалось с нарушением установленных в
          «Руководстве по эксплуатации» требований;
        </li>
        <li>
          оборудование вышло из строя по вине покупателя или третьих лиц
          (механические повреждения, воздействия химических веществ,
          самостоятельный ремонт, некачественное или неисправное электропитание
          и т.п.);
        </li>
        <li>
          оборудование вышло из строя вследствие пожаров, затоплений,
          воздействия насекомых и других стихийных бедствий;
        </li>
        <li>
          истек срок действия гарантии, установленный в настоящем гарантийном
          талоне;
        </li>
        <li>
          объединение оборудования THAICON с оборудованием других торговых марок
          в один контур хладагента;
        </li>
        <li>
          при использовании мультизональных систем кондиционирования не для
          целей комфортного кондиционирования (промышленное использование);
        </li>
        <li>
          оборудование эксплуатировалось без периодического технического
          обслуживания;
        </li>
        <li>
          в оборудование были внесены конструктивные изменения, не
          предусмотренные производителем.
        </li>
      </ul>

      <p>
        Гарантийные обязательства купленного Вами оборудования осуществляются
        через уполномоченного дилера, выполняющего его продажу и установку.
      </p>
      <p>Дата покупки фиксируется в Товарной накладной (ТОРГ-12).</p>
    </div>
  </div>
</div>
