<div class="serv-sup">
  <div class="container">
    <div class="serv-sup__inner">
        <div class="serv-sup__img">
        <img src="images/serv-sup.png" alt="">
      </div>
      <div class="serv-sup__info">
        <h1 class="serv-sup__title">Сервисная поддержка</h1>

        <div class="serv-sup__text">
          Единая служба поддержки для покупателей, партнёров и специалистов
          рынка климатического оборудования. Мы помогаем на всех этапах —
          от подбора запчастей и консультаций до гарантийного и постгарантийного
          ремонта. Отвечаем быстро: простые вопросы решаем сразу, сложные —
          до 24 часов. При необходимости запросы передаём инженерам-экспертам.
        </div>
      </div>

    
    </div>
  </div>
</div>
