<div class="show-dist">
  <div class="container">
    <div class="show-dist__inner">
      <div class="show-dist__map">
        <img src="images/show-dist-map.png" alt="" />
      </div>
      <div class="show-dist__icon">
        <img src="images/show-dist-logo.png" alt="" />
      </div>

      <div class="show-dist__info">
        <h1 class="show-dist__title">
          ГК «АЯК» — надёжный поставщик и эксперт в области климатического
          оборудования
        </h1>

        <div class="show-dist__text">
          ГК «АЯК» — эксперт климатического рынка РФ и стран ближнего зарубежья.
          В HVAC-индустрии мы работаем почти 30 лет. Понимание потребностей
          покупателей, глубокое знание техники, практический опыт в области
          её продаж, продвижения, монтажа и сервисного обслуживания позволяют
          нам предлагать те решения, которые максимально соответствуют ожиданиям
          клиентов.
        </div>
      </div>
    </div>
  </div>
</div>
