<section class="dist">
  <div class="container">
    <div class="dist__inner">
      <div class="home-about__grids">
        <div class="home-about__grid">
          <div class="home-about__icon">
            <img src="images/ab11.svg" alt="" />
          </div>

          <div class="home-about__desc">
            <p>30</p>
            <span>лет на рынке</span>

            <div class="home-about__desc--text">
              С 1996 года международные корпорации доверяют нам продвижение
              своих брендов, а накопленный опыт и команда профессионалов сделали
              нас надёжным партнёром.
            </div>
          </div>
        </div>

        <div class="home-about__grid">
          <div class="home-about__icon">
            <img src="images/ab22.svg" alt="" />
          </div>

          <div class="home-about__desc">
            <p>ТОП-5</p>
            <span>в списке крупнейших дистрибьюторов</span>

            <div class="home-about__desc--text">
              ГК «АЯК» является пионером HVAC-рынка России и почти 30 лет
              остаётся в списке ведущих дистрибьюторов страны.

              <span>
                *По итогам импорта бытового и коммерческого оборудования в
                денежном выражении в 2024 г. согласно статистике МА "Литвинчук
                Маркетинг".
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="home-about__items">
        <div class="home-about__item">
          <p>300</p>
          <span>ПРОФЕССИОНАЛОВ В КОМАНДЕ</span>

          <div class="home-about__item--text">
            Команда ГК «АЯК» — опытные профессионалы, треть из которых инженеры
            с профильным образованием. 
          </div>
        </div>
        <div class="home-about__item">
          <p>95</p>
          <span>авторизованных сервисных центров</span>
          <div class="home-about__item--text">
            Сеть сервис-центров и запас оригинальных запчастей обеспечивают
            оперативный гарантийный и постгарантийный ремонт и обслуживание
            оборудования.
          </div>
        </div>
        <div class="home-about__item">
          <p>45 000+</p>
          <span>РЕГИОНАЛЬНЫХ ПРЕДСТАВИТЕЛЬСТВ</span>
          <div class="home-about__item--text">
            Отлаженная логистикаи сеть складов в ключевых регионах обеспечивают
            ГК «АЯК» наличие техники и быструю поставку по России и СНГ.
          </div>
        </div>
        <div class="home-about__item">
          <p>22</p>
          <span>РЕГИОНАЛЬНЫХ ПРЕДСТАВИТЕЛЬСТВ</span>
          <div class="home-about__item--text">
            Региональные офисы ГК «АЯК» в России и ближнем зарубежье позволяют
            партнёрам получать оборудование и вести бизнес в своём городе
            и часовом поясе.
          </div>
        </div>
      </div>
    </div>

    <a href="#" class="dist__btn btn btn-dark">Стать партнёром</a>
  </div>
</section>
