<div class="detal-table" data-scroll-item>
  <div class="detal-table__inner">
    <div class="detal-table__title">
      все модели Инверторной сплит-системы Thaicon Серия SensAIR
    </div>

    <div class="detal-table__table">
      <table class="table">
        <thead>
          <tr>
            <th>Модели</th>
            <th>TL-RWS25-FR / TL-RWS25-FR</th>
            <th>TL-RWS25-FR / TL-RWS25-FR</th>
            <th>TL-RWS25-FR / TL-RWS25-FR</th>
            <th>TL-RWS25-FR / TL-RWS25-FR</th>
            <th>TL-RWS25-FR / TL-RWS25-FR</th>
            <th>TL-RWS25-FR / TL-RWS25-FR</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Номинальная холодопроизводительность, кВт</td>
            <td>2,68 (0,94 – 3,81)</td>
            <td>2,68 (0,94 – 3,81)</td>
            <td>2,68 (0,94 – 3,81)</td>
            <td>2,68 (0,94 – 3,81)</td>
            <td>2,68 (0,94 – 3,81)</td>
            <td>2,68 (0,94 – 3,81)</td>
          </tr>

          <tr>
            <td>Номинальная теплопроизводительность, кВт</td>
            <td>2,68 (0,94 – 3,81)</td>
            <td>2,68 (0,94 – 3,81)</td>
            <td>2,68 (0,94 – 3,81)</td>
            <td>2,68 (0,94 – 3,81)</td>
            <td>2,68 (0,94 – 3,81)</td>
            <td>2,68 (0,94 – 3,81)</td>
          </tr>

          <tr>
            <td>Класс энергоэффективности, охлаждение</td>
            <td>A+++</td>
            <td>A+++</td>
            <td>A+++</td>
            <td>A+++</td>
            <td>A+++</td>
            <td>A+++</td>
          </tr>

          <tr>
            <td>Класс энергоэффективности, нагрев</td>
            <td>A+++</td>
            <td>A+++</td>
            <td>A+++</td>
            <td>A+++</td>
            <td>A+++</td>
            <td>A+++</td>
          </tr>

          <tr>
            <td>Уровень шума наружного блока, дБ(А)</td>
            <td>52</td>
            <td>52</td>
            <td>52</td>
            <td>52</td>
            <td>52</td>
            <td>52</td>
          </tr>

          <tr>
            <td>Уровень шума внутреннего блока минимальный, дБ(А)</td>
            <td>52</td>
            <td>52</td>
            <td>52</td>
            <td>52</td>
            <td>52</td>
            <td>52</td>
          </tr>

          <tr>
            <td>Площадь помещения, м²</td>
            <td>52</td>
            <td>52</td>
            <td>52</td>
            <td>52</td>
            <td>52</td>
            <td>52</td>
          </tr>

          <tr>
            <td>Цена, руб.</td>
            <td><strong>1 000 000</strong></td>
            <td><strong>1 000 000</strong></td>
            <td><strong>1 000 000</strong></td>
            <td><strong>1 000 000</strong></td>
            <td><strong>1 000 000</strong></td>
            <td><strong>1 000 000</strong></td>
          </tr>

          <tr>
            <td></td>
            <td><button class="btn btn-light">ГДЕ КУПИТЬ</button></td>
            <td><button class="btn btn-light">ГДЕ КУПИТЬ</button></td>
            <td><button class="btn btn-light">ГДЕ КУПИТЬ</button></td>
            <td><button class="btn btn-light">ГДЕ КУПИТЬ</button></td>
            <td><button class="btn btn-light">ГДЕ КУПИТЬ</button></td>
            <td><button class="btn btn-light">ГДЕ КУПИТЬ</button></td>
          </tr>
        </tbody>
      </table>
    </div>


    <a href="#" class="detal-table__btn btn btn-dark">
      Смотреть каталог с характеристиками
    </a>
  </div>
</div>
