@use '../../../style/scss/variables.scss' as *;



.catalog-item {



 
  

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;


    @media only screen and (max-width: 1200px) {
      
      grid-template-columns: 1fr;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    overflow: hidden;

    @media only screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }


  &__img {
    display: flex;
    align-items: center;
    background: url('/images/card-item-white.png') 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    padding: 0 20px;

    @media only screen and (max-width: 767px) {
      padding: 20px 30px;
      min-height: 180px;
    }
  }

  &__info {
    background: $light-blue;
    padding: 30px;

    @media only screen and (max-width: 767px) {
      padding: 20px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__ser {
    color: $blue;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;

    @media only screen and (max-width: 767px) {
      font-size: 13px;
    }
  }

  &__name {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px;

    @media only screen and (max-width: 767px) {
      font-size: 13px;
      margin-bottom: 10px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
    gap: 10px 0;

    @media only screen and (max-width: 767px) {
      margin-bottom: 20px;
    }


    span {
      padding: 10px 7px;
      border-right: 1px solid $calm-sky;

      font-size: 15px;

      @media only screen and (max-width: 767px) {
        font-size: 12px;
      }
    }
  }


  &__list {
    margin-bottom: 108px;

    @media only screen and (max-width: 767px) {
      margin-bottom: 30px;
    }

    &--item {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

    }

    &--icon {
      width: 36px;
      height: 36px;
      flex-shrink: 0;
      background: $blue;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--name {
      font-size: 15px;
      font-weight: 500;
    }

  }
  &__btn {
    width: 100%;
    margin-bottom: 24px;
  }

  &__more {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-weight: 700;
    font-size: 15px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 767px) {
      font-size: 12px;
    }

    &:hover {
      color: $blue;
    }
  }


  &-black {

    .catalog-item {

      &__img {
        background: $core-black;
      }

      &__info {
        background: $core-black;
        color: #fff;
        border-left: 1px solid $mid-blue;
      }

      &__btn {
        background: #fff;

        color: $dark-blue;


        &:hover {
          background: $blue;


          color: #fff;
        }
      }
    }
  }
}