<section class="market">
  <div class="container">
    <div class="market__inner">
      <h3 class="market__title title">
        МНОГОУРОВНЕВАЯ МАРКЕТИНГОВАЯ ПОДДЕРЖКА
      </h3>

      <div class="market__items">
        <div class="market__item">
          <div class="market__aside">
            <svg
              width="43"
              height="74"
              viewBox="0 0 43 74"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M43 74H24.4637V23.1652C24.4637 20.3768 24.5714 17.6957 25.3258 14.9073L2.26316 19.0899L0 7.29276L24.4637 0H43V74Z"
                fill="#1D272E"
              />
            </svg>

            <div>
              <p>Уровень</p>
              <span>Развивай бизнес с THAICON </span>
            </div>
          </div>

          <div class="market__img">
            <img src="images/market1.png" alt="" />
          </div>

          <div class="market__info">
            <span>Как это работает</span>
            <ul>
              <li>
                Получайте 1 000 ₽ за каждую отгружённую сплит-систему THAICON
              </li>
              <li>
                Обменивайте начисленные баллы на сувенирную и рекламную
                продукцию
              </li>
              <li>
                Выбирайте нужные позиции из списка в рамках накопленных баллов
                и добавляйте их в заказ
              </li>
              <li>
                Развивайте бизнес и увеличивайте продажи с поддержкой THAICON
              </li>
            </ul>
          </div>

          <div class="market__info">
            <span>Какую рекламную продукцию можно получить за баллы</span>
            <ul>
              <li>Фирменная спецодежда</li>
              <li>Брендированные футболки</li>
              <li>Брендированные толстовки</li>
              <li>Брендированные бейсболки</li>
              <li>Ароматизаторы для авто</li>
              <li>Стойки для шоурумов</li>
              <li>Выставочные образцы для шоурумов</li>
              <li>Наружная реклама</li>
              <li>Совместная рекламная кампания в Интернете</li>
            </ul>
          </div>

          <div class="market__img">
            <img src="images/market2.png" alt="" />
          </div>
        </div>

        <div class="market__item">
          <div class="market__aside">
            <svg
              width="65"
              height="73"
              viewBox="0 0 65 73"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M31.3505 0C50.4743 0 62.5965 3.11966 62.5965 16.9501C62.5965 24.8533 59.1479 31.1966 46.6077 41.2835L24.2444 59.0655C28.5289 57.8177 33.4405 57.7137 37.7251 57.7137H65V73H0V64.161C0 61.3533 0.313505 59.0655 2.61254 57.0897L26.8569 37.5399C38.0386 28.4929 43.9952 23.0855 43.7862 18.8219C43.5772 14.9744 38.6656 14.6624 29.4695 14.6624C20.3778 14.6624 14.3167 14.7664 2.19453 15.4943L1.35852 2.39174C14.4212 0.311962 22.2588 0 31.3505 0Z"
                fill="#1D272E"
              />
            </svg>
            <div>
              <p>Уровень</p>
              <span>Повышайте доходность с THAICON </span>
            </div>
          </div>

          <div class="market__img">
            <img src="images/market3.png" alt="" />
          </div>

          <div class="market__info">
            <span>Как присоединиться к программе:</span>
            <ul>
              <li>Пройдите регистрацию</li>
              <li>Приобретайте оборудование Thaicon</li>
              <li>Следите за начислением баллов в личном кабинете</li>
              <li>
                Используйте накопленные баллы для получения вознаграждения
              </li>
            </ul>
          </div>
        </div>
      </div>

      <a href="#" class="market__btn btn btn-dark">Зарегистрироваться</a>
    </div>
  </div>
</section>
