<section class="serv-in">
  <div class="container">
    <div class="serv-in__inner">
      <div class="serv-in__items">
        <div class="serv-in__item">
          <div class="serv-in__icon">
            <img src="images/s1.svg" alt="" />
          </div>

          <div class="serv-in__info">
            <div class="serv-in__name">
              Оперативный подбор и наличие запчастей
            </div>
            <div class="serv-in__text">
              Подбор запчасти — в течение 24 часов.Наличие и оперативная
              поставка запчастей со склада в Москве или с региональных складов.
            </div>

            <a href="#" class="serv-in__btn btn btn-dark">заказать запчасть</a>
          </div>
        </div>
        <div class="serv-in__item">
          <div class="serv-in__icon">
            <img src="images/s2.svg" alt="" />
          </div>

          <div class="serv-in__info">
            <div class="serv-in__name">Гарантийные обязательства</div>
            <div class="serv-in__text">
              Послепродажная поддержка партнёров и покупателей, соблюдение
              гарантийных обязательств.
            </div>

            <a href="#" class="serv-in__btn btn btn-dark">
              <span>Подробнее</span>
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M2.66699 7.99984C2.66699 7.63165 2.96547 7.33317 3.33366 7.33317H12.667C13.0352 7.33317 13.3337 7.63165 13.3337 7.99984C13.3337 8.36803 13.0352 8.6665 12.667 8.6665H3.33366C2.96547 8.6665 2.66699 8.36803 2.66699 7.99984Z"
                  fill="white"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M7.52892 2.86177C7.78927 2.60142 8.21138 2.60142 8.47173 2.86177L13.1384 7.52843C13.3987 7.78878 13.3987 8.21089 13.1384 8.47124L8.47173 13.1379C8.21138 13.3983 7.78927 13.3983 7.52892 13.1379C7.26857 12.8776 7.26857 12.4554 7.52892 12.1951L11.7242 7.99984L7.52892 3.80458C7.26857 3.54423 7.26857 3.12212 7.52892 2.86177Z"
                  fill="white"
                />
              </svg>
            </a>
          </div>
        </div>
        <div class="serv-in__item">
          <div class="serv-in__icon">
            <img src="images/s3.svg" alt="" />
          </div>

          <div class="serv-in__info">
            <div class="serv-in__name">
              Единая служба поддержки для покупателей и партнёров
            </div>
            <div class="serv-in__text">
              Фирменный сервис-центр оказывает услуги по гарантийному
              и пост-гарантийному ремонту, сервисному обслуживанию
              климатического оборудования Thaicon.
            </div>

            <a href="#" class="serv-in__btn btn btn-dark">обращение в сервис</a>
          </div>
        </div>
        <div class="serv-in__item">
          <div class="serv-in__icon">
            <img src="images/s1.svg" alt="" />
          </div>

          <div class="serv-in__info">
            <div class="serv-in__name">Отлаженная сеть сервисных центров</div>
            <div class="serv-in__text">
              50+ сервис-центров в 30 городах. Аккредитованы и работают
              по стандартам ГК «АЯК». Сеть продолжаем расширять. Обучаем.
              Контролируем соблюдение стандартов.
            </div>

            <a href="#" class="serv-in__btn btn btn-dark">
              <span>Подробнее</span>
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M2.66699 7.99984C2.66699 7.63165 2.96547 7.33317 3.33366 7.33317H12.667C13.0352 7.33317 13.3337 7.63165 13.3337 7.99984C13.3337 8.36803 13.0352 8.6665 12.667 8.6665H3.33366C2.96547 8.6665 2.66699 8.36803 2.66699 7.99984Z"
                  fill="white"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M7.52892 2.86177C7.78927 2.60142 8.21138 2.60142 8.47173 2.86177L13.1384 7.52843C13.3987 7.78878 13.3987 8.21089 13.1384 8.47124L8.47173 13.1379C8.21138 13.3983 7.78927 13.3983 7.52892 13.1379C7.26857 12.8776 7.26857 12.4554 7.52892 12.1951L11.7242 7.99984L7.52892 3.80458C7.26857 3.54423 7.26857 3.12212 7.52892 2.86177Z"
                  fill="white"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
