<div class="tech-det">
  <div class="container">
    <div class="tech-det__inner">
      <div class="tech-det__images">
        <div class="tech-det__img">
          <div class="tech-det__pal">
            <img src="images/tech-pal.png" alt="" />
          </div>

          <div class="tech-det__hand">
            <img src="images/tech-hand.png" alt="" />
          </div>
        </div>
      </div>

      <div class="tech-det__content">
        <div class="tech-det__aside">
          <h2 class="tech-det__title title">
            THAICON — это умный климат, который технологии создают с заботой
            о человеке
          </h2>

          <div class="tech-det__text">
            Мы живём в мире, где технологии повсюду. Но настоящая ценность
            техники не в количестве функций или мощности, а в том, насколько она
            упрощает жизнь. <br />
            <br />
            THAICON создаёт решения, которые адаптируются к пространству и
            привычкам людей, поддерживают идеальную температуру, регулируют
            потоки воздуха — делают все, чтобы человеку просто было хорошо и
            комфортно. При этом они не требуют к себе лишнего внимания.
            Они работают без сбоев, тихо и размеренно — как дыхание, когда
            мы спокойны.
          </div>
        </div>

        <div class="tech-det__info">
          <div class="tech-det__label">
            Кондиционеры THAICON — это баланс науки и интуиции, инженерного
            подхода и естественной гармонии
          </div>
          <div class="tech-det__text">
            Мы убеждены, что технологии должны быть не агрессивными, а чуткими.
            Не соревноваться с природой, а брать у неё лучшее. Не
            демонстрировать свой «интеллект», а просто работать — надёжно
            и незаметно. <br> <br> В линейке THAICON есть решения для малых и больших
            пространств: от квартиры-студии до бизнес-центра. Но у всех
            кондиционеров THAICON есть нечто общее — они не просто помогают
            свободно дышать, а делают жизнь легче.
          </div>

          <a href="#" class="tech-det__btn btn btn-dark">
            <span>Перейти в каталог</span>
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M2.66699 8.00008C2.66699 7.63189 2.96547 7.33342 3.33366 7.33342H12.667C13.0352 7.33342 13.3337 7.63189 13.3337 8.00008C13.3337 8.36827 13.0352 8.66675 12.667 8.66675H3.33366C2.96547 8.66675 2.66699 8.36827 2.66699 8.00008Z"
                fill="white"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M7.52892 2.86201C7.78927 2.60166 8.21138 2.60166 8.47173 2.86201L13.1384 7.52868C13.3987 7.78903 13.3987 8.21114 13.1384 8.47149L8.47173 13.1382C8.21138 13.3985 7.78927 13.3985 7.52892 13.1382C7.26857 12.8778 7.26857 12.4557 7.52892 12.1953L11.7242 8.00008L7.52892 3.80482C7.26857 3.54447 7.26857 3.12236 7.52892 2.86201Z"
                fill="white"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
