<div class="show-partner">
  <div class="container">
    <div class="show-partner__inner">
      <div class="show-partner__info">
        <h1 class="show-partner__title">
          Стройте прибыльный климатический бизнес с THAICON
        </h1>

        <div class="show-partner__text">
          THAICON — это комплексная поддержка вашего бизнеса. Мы не просто
          отгружаем коробки — мы помогаем вам продавать, устанавливать
          и обслуживать.
        </div>

        <a href="#" class="show-partner__btn btn btn-dark"> Стать партнёром </a>
      </div>


      <div class="show-partner__img">
        <img src="images/show-partner.png" alt="">
      </div>
    </div>
  </div>
</div>
