<section class="home-about">
  <div class="container">
    <div class="home-about__inner">
      <div class="home-about__map">
        <img src="images/bg-map.png" alt="" />
      </div>
      <div class="home-about__top">
        <div class="home-about__title">
          ГК «АЯК» — надёжный <br> поставщик и эксперт в области <br> климатического
          оборудования
        </div>

        <div class="home-about__img">
          <img src="images/logo-aj.png" alt="">
        </div>

        <div class="home-about__text">
          30 лет мы развиваемся вместе с российским рынком климатической
          техники, поэтому отлично понимаем, что нужно покупателям кондиционеров
          в России. <br />
          <br />
          Весь наш опыт, знания и инженерную экспертизумы воплотили
          в собственном бренде THAICON.
        </div>
      </div>

      <div class="home-about__grids">
        <div class="home-about__grid">
          <div class="home-about__icon">
            <img src="images/ab1.svg" alt="">
          
          </div>

          <div class="home-about__desc">
            <p>С 1996 года</p>
            <span
              >на российском <br />
              климатическом рынке</span
            >
          </div>
        </div>

        <div class="home-about__grid">
          <div class="home-about__icon">
            <img src="images/ab2.svg" alt="">
          </div>

          <div class="home-about__desc">
            <p>Топ-5 дистрибьюторов</p>
            <span>нклиматического оборудования*</span>
          </div>
        </div>
      </div>

      <div class="home-about__items">
        <div class="home-about__item">
          <p>60+</p>
          <span>складов и 3 логистических центра</span>
        </div>
        <div class="home-about__item">
          <p>20 000+</p>
          <span>реализованных объектов</span>
        </div>
        <div class="home-about__item">
          <p>22</p>
          <span>филиала в РФ и в странах ближнего зарубежья</span>
        </div>
        <div class="home-about__item">
          <p>95+</p>
          <span
            >авторизованных <br />
            сервисных центров</span
          >
        </div>
      </div>

      <div class="home-about__cit">
        *по данным агентства «Литвинчук-маркетинг»
      </div>

      <a href="#" class="home-about__btn btn btn-dark">Cтать партнёром</a>
    </div>
  </div>
</section>
