<section class="home-about home-about-brands">
  <div class="container">
    <div class="home-about__inner">
      <div class="home-about__map">
        <img src="images/bg-map.png" alt="" />
      </div>
      <div class="home-about__top">
        <div class="home-about__title">
          THAICON СОЗДАН <br />
          ПРОФЕССИОНАЛАМИ
        </div>

        <div class="home-about__img">
          <img src="images/logo-aj.png" alt="" />
        </div>

        <div class="home-about__text">
          <p>
            <b>THAICON —</b> это российский бренд климатического оборудования
            от признанных экспертов рынка. <br />
            <br />
            THAICON созданы инженерами ГК «АЯК» на основе
            <b>собственного 30-летнего опыта</b> работы и <b
              >технологий ведущих производителей</b
            >
            климатического оборудования.
          </p>

          <p>
            30 лет мы развиваемся вместе с российским рынком климатической
            техники, поэтому отлично понимаем, что нужно покупателям
            кондиционеров в России.
            <br />
            <br />Весь наш опыт, знания и инженерную экспертизу мы воплотили
            в собственном бренде THAICON.
          </p>
        </div>
      </div>

      <div class="home-about__grids">
        <div class="home-about__grid">
          <div class="home-about__icon">
            <img src="images/ab1.svg" alt="" />
          </div>

          <div class="home-about__desc">
            <p>С 1996 года</p>
            <span
              >на российском <br />
              климатическом рынке</span
            >
          </div>
        </div>

        <div class="home-about__grid">
          <div class="home-about__icon">
            <img src="images/ab2.svg" alt="" />
          </div>

          <div class="home-about__desc">
            <p>Топ-5 дистрибьюторов</p>
            <span>нклиматического оборудования*</span>
          </div>
        </div>
      </div>

      <div class="home-about__items">
        <div class="home-about__item">
          <p>60+</p>
          <span>складов и 3 логистических центра</span>
        </div>
        <div class="home-about__item">
          <p>20 000+</p>
          <span>реализованных объектов</span>
        </div>
        <div class="home-about__item">
          <p>22</p>
          <span>филиала в РФ и в странах ближнего зарубежья</span>
        </div>
        <div class="home-about__item">
          <p>95+</p>
          <span
            >авторизованных <br />
            сервисных центров</span
          >
        </div>
      </div>

      <div class="home-about__cit">
        *по данным агентства «Литвинчук-маркетинг»
      </div>

      <div class="home-about__btns">
        <a href="#" class="home-about__btn btn btn-dark">Cтать партнёром</a>

        <a href="#" class="home-about__btn btn btn-light">
          <span>о дистрибьюторе</span>

          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M2.66675 7.99996C2.66675 7.63177 2.96522 7.33329 3.33341 7.33329H12.6667C13.0349 7.33329 13.3334 7.63177 13.3334 7.99996C13.3334 8.36815 13.0349 8.66663 12.6667 8.66663H3.33341C2.96522 8.66663 2.66675 8.36815 2.66675 7.99996Z"
              fill="white"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.52868 2.86189C7.78903 2.60154 8.21114 2.60154 8.47149 2.86189L13.1382 7.52855C13.3985 7.7889 13.3985 8.21101 13.1382 8.47136L8.47149 13.138C8.21114 13.3984 7.78903 13.3984 7.52868 13.138C7.26833 12.8777 7.26833 12.4556 7.52868 12.1952L11.7239 7.99996L7.52868 3.8047C7.26833 3.54435 7.26833 3.12224 7.52868 2.86189Z"
              fill="white"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
